@import "tailwindcss";

.slider.rounded {
    height: 10px;
}

.slider.rounded .noUi-connect {
    background: #1976D2;
}

.slider.rounded .noUi-handle {
    height: 18px;
    width: 18px;
    top: -5px;
    right: -9px;
    /* half the width */
    border-radius: 9px;
}

.slider.rounded .noUi-handle:before,
.slider.rounded .noUi-handle:after {
    display: none;
}

.loader {
    width: 24px;
    height: 24px;
    border: 5px solid #FFF;
    border-bottom-color: gray;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



.fake-percent-loader {
    width: 100%;
    height: 4.8px;
    display: inline-block;
    position: relative;
    background: rgba(255, 255, 255, 0.15);
    overflow: hidden;
}

.fake-percent-loader::after {
    content: '';
    box-sizing: border-box;
    width: 0;
    height: 4.8px;
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    animation: animFw 3s linear ;
}

@keyframes animFw {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}